* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Lato";
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  height: 75px;
  background: #222;
}
.header img {
  cursor: pointer;
}
.header__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 19px;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 41px;
}
.header__logo img {
  height: 100%;
}
.header__menu {
  display: flex;
  gap: 33px;
}

.brand {
  background: #F1E4E6;
}
.brand__head {
  display: flex;
  gap: 64px;
  align-items: center;
}
.brand__head img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}
.brand__box-head {
  justify-content: center;
  align-items: center;
  max-width: 405px;
  height: 93px;
  border-left: 12px solid #F16D7F;
  padding-left: 1rem;
}
.brand__text {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 52px;
  color: #222;
}
.brand__text_mini {
  font-size: 32px;
}
.brand__text_color {
  color: #F16D7F;
}

.menu {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  padding-top: 65px;
}
.menu__category {
  position: relative;
  max-width: 360px;
}
.menu__category img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}
.menu__category_down {
  height: 180px;
}
.menu__category_head {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #FFF;
}
.menu__category_text {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  color: #F16D7F;
}
.menu__box-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 30px;
}
.content__head {
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: #222;
  padding-bottom: 0.5rem;
}
.content__text {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #5D5D5D;
  padding-bottom: 3rem;
}
.content__btn {
  width: 212px;
  height: 48px;
  border: 1px solid #F26376;
  background: #fff;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #F26376;
  margin-top: 18px;
  margin-bottom: 60px;
  cursor: pointer;
}

.product {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.product__head {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  color: #222;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 12px;
}
.product__text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  color: #5D5D5D;
  padding-left: 1rem;
  padding-right: 1rem;
}
.product__text_price {
  font-size: 16px;
  color: #F16D7F;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 6px;
}/*# sourceMappingURL=style.css.map */